body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
header{
    background-color: darkblue;
    text-align: center;
    color: white;
}
footer{
    background-color: #00008b;
    text-align: center;
    color: white;
}
.productos{
    border: 10px solid grey; 
    margin: 10px;
    display: flex;
    text-align: center;
    border-radius: 15px;
    background-color: #f0f0f0;
}
img{
    border-radius: 15px;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 5px;
}
.oferta{
    border: 10px solid grey; 
    margin: 10px;
    display: flex;
    text-align: center;
    border-radius: 15px;
    background-color: #f0f0f0;;
}
li{
    list-style: none;
}